/var/
/gwplotinterface.cpp
/gwplot/interface.cpython-310-darwin.so
/libgw/libgw.so
/venv/
/libgw/
/gwplot.egg-info/
/out.png
.DS_*
/.idea/
/__pycache__/
/gwplot/__pycache__
/gwplot/tests/__pycache__/
/build/
/out2.png
/libdeflate/
/htslib/
/gwplot/libdeflate.a
/gwplot/libhts.3.dylib
/libgw/libgw.so
/libgw/libhts.3.dylib
/gwplot/libgw.so
/gwplot/interface.cpp
/old/
/dist/
/ci/build_gwplot/
/gwplot/libgw.dylib
/fixed_wheels/
/gwplot/libskia.a
/gw/libgwplot/include/
/gw/libgwplot/out/
/gwplot/libhts.dylib
/gwplot/interface.cpython-311-darwin.so
/tests/out.png
/tests/out2.png
/examples/output.png
/examples/demo1.bam.bai
/gwplot/glfw_interface.cpp
/gwplot/glfw_interface.cpython-310-darwin.so
/examples/m21009_241011_231051.GRCh38.haplotagged.bam.bai
/examples/output_online.png
/examples/output_online.pdf
