/var/
/gwplotinterface.cpp
/gwplot/interface.cpython-310-darwin.so
/libgw/libgw.so
/venv/
/libgw/
/gwplot.egg-info/
/out.png
.DS_*
/.idea/
/__pycache__/
/gwplot/__pycache__
/gwplot/tests/__pycache__/
/build/
/out2.png
/libdeflate/
/htslib/
/gwplot/libdeflate.a
/gwplot/libhts.3.dylib
/libgw/libgw.so
/libgw/libhts.3.dylib
/gwplot/libgw.so
/gwplot/interface.cpp
