body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f0eff1;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

/* Canvas styling */
#genomePlot {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain; /* Maintain aspect ratio */
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.command-nav-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 5px 15px;
    background-color: #ffffff;
    color: black;
    border: none;
    /*border: 1px solid #ccc;*/
    /*border-radius: 12px;*/
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #b0aeae;
}

.command-form {
    display: flex;
    gap: 10px;
}

#user_input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    /*border: 1px solid #ccc;*/
    border-radius: 0px;
    font-size: 14px;
}

#outputContainer {
    margin-top: 10px;
    border: none;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    background-color: #1f2023;
    overflow: hidden;
}

#outputBox {
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 11px;
    color: #cbd6f3;
}

.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: #202124;
    /*border-bottom: 1px solid #c0bebe;*/
}

.output-title {
    font-weight: bold;
    font-size: 14px;
}

#clearOutput {
    background-color: #ffffff;
    font-size: 12px;
    padding: 4px 8px;

}

/* Performance monitor styles */
#fpsCounter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    z-index: 9999;
    pointer-events: none;
}

@media (max-width: 768px) {
    .command-form {
        flex-direction: column;
    }

    .nav-buttons {
        justify-content: flex-start;
    }
}