<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>GW</title>
    <!-- Add a version parameter to force reloading CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v={{ version }}">
</head>
<body>
    <canvas id="genomePlot" width="950" height="300"></canvas>

    <div class="command-nav-container">
        <form id="commandForm">
            <input type="text" name="user_input" id="user_input" placeholder="Enter GW command here" value="chr1" spellcheck="false" autocomplete="off">
            <input type="submit" value="Submit">
        </form>

        <div class="nav-buttons">
            <button class="nav-button" id="btn-left">←</button>
            <button class="nav-button" id="btn-right">→</button>
            <button class="nav-button" id="btn-up">↑</button>
            <button class="nav-button" id="btn-down">↓</button>
            <button class="nav-button" id="btn-zoom-in">+</button>
            <button class="nav-button" id="btn-zoom-out">−</button>
            <button class="clear-output" id="clearOutput">Clear Log</button>
        </div>
    </div>

    <!-- Output Container -->
    <div id="outputContainer">
        <div id="outputBox"></div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
